:root {
  --header-bg-color: #7E504D;
  --pale-color: #FFF2EF;
  --color1: #FACEC0;
  --color2: #C6A5A2;
  --text-color: #595959;
  --header-height: 6em;
  --font: Montserrat;
  --bold: 900;
}

body {
  font-family: var(--font, sans-serif);
  font-size: 160%;
  margin: 0;
  padding: 0;
  background-color: var(--pale-color);
  color: var(--text-color);
}

.column2 {
  width: 50%;
  padding: 0;
  margin: 0 auto 0;
  --DEBUG-border: 1px dashed blue;
}

.single-column {
  width: 70%;
  margin: 0 auto 0;
}

.main-image {
  width: 100%;
}

/* columns headers */

.header-banner {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: var(--header-height);
  display: flex;
  background-color: var(--header-bg-color);
  color: var(--pale-color);
}

.column-header {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

.header-logo {
  font-family: "Sacramento", serif;
  font-weight: 600;
  font-size: 200%;
  line-height: 0.8;

  margin-left: 1em;
}

.site-title {
  flex: 1;
  text-align: center;
  font-weight: var(--bold);
  text-transform: uppercase;
  font-size: 175%;
}

/* vertical bar between columns in the header */
.header-banner :nth-child(1)::after,
.header-banner :nth-child(2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background-color: var(--pale-color);
}

/* top menu, on the right */
.header-menu {
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
  justify-content: center;
  font-size: 112%;
}

.header-menu a {
  color: var(--pale-color);
  text-decoration: none;
}

.header-menu a.active {
  font-size: 125%;
  font-weight: var(--bold);
}

.header-menu a:hover {
  text-decoration: underline;
}

.page {
  display: flex;
  margin-top: 3em;
  margin-bottom: 3em;
  /* min-height: 100vh; */
}

.anchor {
  display: block;
  position: relative;
  top: calc(-1 * var(--header-height));
  height: var(--header-height);
  visibility: hidden;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* main content */
.column2 > .text,
.page   > .text {
  margin: 3em;
}

.margin {
  margin: 1em;
}

h2, .bigger {
  font-size: 100%;
  font-weight: var(--bold);
}

.title ul {
  list-style-type: none;
  padding: 0;
}

.shaped {
  position: relative;
  display: block;
  margin: 2em;
  background-size: 100% 100%;
}

.filet {
  background-image: url("media/Double_filet.svg");
}

.bubble {
  background-image: url("media/Bulle.svg");
}

.bubble-left {
  background-image: url("media/Bulle.svg");
}

.shaped > .shape-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.filet > .shape-content {
  font-size: 133%;
  transform: scale(0.75) ;
  transform-origin: 46% 50%;
}

.bubble > .shape-content,
.bubble-left > .shape-content {
  transform: scale(0.67) ;
  font-size: 149%;
  transform-origin: 50% 20%;
}

.quotes {
  font-style: italic;
}

ul {
  padding-inline-start: 1em;
}

ul li {
  position: relative;
  list-style-type: none;
}

:not(.title) > ul:not(.quotes) > li {
  margin-bottom: 1ex;
}

:not(.title) > ul:not(.quotes) > li::before {
  content: ' ';
  background-image: url("media/star.svg");
  display: inline-block;
  position: absolute;
  left: -1lh;
  width: 1lh;
  height: 1lh;
  background-size: 1lh;
  background-repeat: no-repeat;
}

ul.quotes {
  margin: 0;
  padding: 0;
}

ul.quotes > li {
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

ul.quote > li::before {
  content: '';
  background: none;
}

li > h3 {
  display: inline;
  font-weight: var(--bold);
  font-size: 100%;
}

.url {
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-style: normal;
}

.title {
  font-style: italic;
}

.p {
  margin: 1em 0 1em;
}

.book-link:any-link {
  color: var(--text-color);
  text-decoration: none;
}

input, select, button, textarea {
  background: var(--color1);
  font-family: var(--font, sans-serif);
  font-size: 100%;
}

label, button {
  font-weight: var(--bold);
}