:root {
  --header-bg-color: #7E504D;
  --pale-color: #FFF2EF;
  --color1: #FACEC0;
  --color2: #C6A5A2;
  --text-color: #595959;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 160%;
  margin: 0;
  padding: 0;
  background-color: var(--pale-color);
  color: var(--text-color);
}

.column {
  width: 50%;
  padding: 0;
}

.main-image {
  width: 100%;
}

/* columns headers */

.header-banner {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 6em;
  display: flex;
  background-color: var(--header-bg-color);
  color: var(--pale-color);
}

.column-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

.header-logo {
  font-family: "Sacramento", serif;
  font-weight: 600;
  font-size: 200%;
  line-height: 0.8;

  margin-left: 1em;
}

.site-title {
  flex: 1;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 175%;
}

/* vertical bar between columns in the header */
.header-banner :nth-child(1)::after,
.header-banner :nth-child(2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background-color: var(--pale-color);
}

/* top menu, on the right */
.header-menu {
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
  justify-content: center;
  font-size: 112%;
}

.header-menu a {
  color: var(--pale-color);
  text-decoration: none;
}

.header-menu a.active {
  font-size: 125%;
  font-weight: bold;
}

.header-menu a:hover {
  text-decoration: underline;
}

.page {
  display: flex;
}

/* main content */
article {
  margin: 3em;
}

.title {
  font-size: 100%;
  font-weight: bold;
}

.title ul {
  list-style-type: none;
  padding: 0;
}