:root {
  --header-bg-color: #7E504D;
  --pale-color: #FFF2EF;
  --color1: #FACEC0;
  --color2: #C6A5A2;
  --text-color: #595959;
}

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--pale-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-bg-color);
  /* Primary color */
  color: var(--pale-color);
  padding: 1em;
  text-align: center;
  height: 100px;
  /* Fixed height for the header */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; /* Arrange items in a row */
}

.header-left {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
}

header h1 {
  flex: 1;
  text-align: center; /* Center the title */
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0; /* Remove margin to align with logo */
}

.header-logo {
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  flex: 1;
  gap: 2em; /* Increase the gap between menu items */
  align-items: center; /* Align menu items to the center */
  justify-content: center; /* Center the items in the column */
}

.header-menu a {
  color: var(--pale-color);
  text-decoration: none;
  font-size: 1.6em;
  /* text-transform: uppercase; */
}

.header-menu a.active {
  font-size: 1.8em;
  font-weight: bold;
}

.header-menu a:hover {
  text-decoration: underline;
}

main {
  padding: 1em;
  background-color: var(--pale-color);
  display: flex;
}

main .column {
  flex: 1;
  padding: 1em;
}

.main-image {
  width: 100%;
}

.title ul {
  list-style-type: none;
  padding: 0;
}

.title li {
  font-weight: bold;
  /* margin-bottom: 0.5em; */
}