:root {
  --header-bg-color: #7E504D;
  --pale-color: #FFF2EF;
  --color1: #FACEC0;
  --color2: #C6A5A2;
  --text-color: #595959;
}

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--pale-color);
  color: var(--text-color);
}

header {
  background-color: var(--header-bg-color);
  color: var(--pale-color);
  text-align: center;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.column-header {
  height: 100px; /* Fixed height for the column headers */
  width: 100%; /* Full width for the column headers */
  display: flex;
  align-items: center;
}

body :first-child .column-header::after,
body :nth-child(2) .column-header::before
{
  content: "";
  display: block;
  width: 2px;
  height: 80%;
  background-color: var(--pale-color);
}

.header-left {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
}

header h1 {
  flex: 1;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5em;
  margin: 0;
}

.header-logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-menu {
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.header-menu a {
  color: var(--pale-color);
  text-decoration: none;
  font-size: 1.6em;
}

.header-menu a.active {
  font-size: 1.8em;
  font-weight: bold;
}

.header-menu a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--pale-color);
  display: flex;
}

body .column {
  flex: 1;
  padding: 0;
}

.main-image {
  width: 100%;
}

.title ul {
  list-style-type: none;
  padding: 0;
}

.title {
  font-weight: bold;
}

article {
  margin: 3em;
}
