:root {
  --header-bg-color: #7E504D;
  --pale-color: #FFF2EF;
  --color1: #FACEC0;
  --color2: #C6A5A2;
  --text-color: #595959;
  --header-height: 6em;

  --font: Montserrat;
  --base-font-size: 100%;
  --site-title-font-size: 175%;
  --menu-font-size: 112%;
  --menu-active-font-size: 125%;
  --h2-font-size: 112%;
  --form-font-size: 112%;
  --form-label-font-size: 100%;
  --bold: 900;

  --DEBUG-border-width: 0px;
  --DEBUG-narrow-body-bg: var(--pale-color);
  ---DEBUG-narrow-body-bg: rgb(252, 254, 230);
}

html {
  font-size: var(--base-font-size);
}

body {
  font-family: var(--font, sans-serif);
  margin: 0;
  padding: 0;
  text-align: justify;
  background-color: var(--pale-color);
  color: var(--text-color);
}

.column2 {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0 auto 0;

  border-width: var(--DEBUG-border-width);
  border-color: blue;
  border-style: dashed;
}

.single-column {
  width: 70%;
  margin: 0 auto 0;
}

.main-image {
  flex: 0;
  max-height: 40em;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.5em;
}

/* columns headers */

.header-banner {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: var(--header-height);
  display: flex;
  background-color: var(--header-bg-color);
  color: var(--pale-color);
}

.header-banner a {
  color: var(--pale-color);
  text-decoration: none;
}

.column-header {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

.header-logo {
  font-family: "Sacramento", serif;
  font-weight: 600;
  font-size: 200%;
  line-height: 0.8;

  margin-left: 1em;
}

.site-title {
  flex: 1;
  text-align: center;
  font-weight: var(--bold);
  text-transform: uppercase;
  font-size: var(--site-title-font-size);
}

/* vertical bar between columns in the header */
.header-banner > :nth-child(1)::after,
.header-banner > :nth-child(2)::before {
  content: "";
  display: block;
  width: 1px;
  height: 80%;
  background-color: var(--pale-color);
}

/* top menu, on the right */
.header-menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: var(--menu-font-size);
}

.header-menu > * {
  padding: 1em;
}

.header-menu a.active {
  font-size: var(--menu-active-font-size);
  font-weight: var(--bold);
}

.header-menu a:hover {
  text-decoration: underline;
}

.page {
  max-width: 90em;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  margin-inline: auto;

  border-width: var(--DEBUG-border-width);
  border-color: red;
  border-style: dashed;
}

.anchor {
  display: block;
  position: relative;
  top: calc(-1 * var(--header-height));
  height: var(--header-height);
  visibility: hidden;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* responsive design */
@media screen and (max-width: 60rem) {
  body {
    /* to debug when the viewport is narrower */
    background-color: var(--DEBUG-narrow-body-bg);
  }

  .page,
  .horizontal {
    flex-direction: column;
    margin-inline: 0;
  }

  .single-column {
    width: 100%;
  }

  .main-image {
    max-height: 15lh;
  }

  .column2 {
    max-width: 45em;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

/* main content */
.column2 > .text,
.page > .text {
  margin-block: 1em;
  margin-inline: 1.5em;
}

h2,
.bigger {
  font-size: var(--h2-font-size);
  font-weight: var(--bold);
}

.title ul {
  list-style-type: none;
  padding: 0;
}

.shaped {
  position: relative;
  display: block;
  margin: 2em;
  background-size: 100% 100%;
}

.filet {
  background-image: url("media/Double_filet.svg");
}

.bubble,
.bubble-left:before {
  background-image: url("media/Bulle.svg");
  background-size: 100% 100%;
}

.bubble-left:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(-1, 1);
}

.shaped > .shape-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.filet > .shape-content {
  /* Use https://developer.mozilla.org/en-US/docs/Web/CSS/shape-outside to optimize the text flow */
  font-size: 133%;
  transform: scale(0.75);
  transform-origin: 46% 50%;
}

.bubble > .shape-content,
.bubble-left > .shape-content {
  transform: scale(0.67);
  font-size: 149%;
  transform-origin: 50% 20%;
}

.quotes {
  font-style: italic;
}

ul {
  padding-inline-start: 1em;
}

ul li {
  position: relative;
  list-style-type: none;
}

:not(.title) > ul:not(.quotes) > li {
  margin-bottom: 1ex;
}

:not(.title) > ul:not(.quotes) > li::before {
  content: ' ';
  background-image: url("media/star.svg");
  display: inline-block;
  position: absolute;
  left: -1lh;
  width: 1lh;
  height: 1lh;
  background-size: 1lh;
  background-repeat: no-repeat;
}

ul.quotes {
  margin: 0;
  padding: 0;
}

ul.quotes > li {
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

ul.quote > li::before {
  content: '';
  background: none;
}

li > h3 {
  display: inline;
  font-weight: var(--bold);
  font-size: 100%;
}

.url {
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-style: normal;
}

.p {
  margin: 1em 0 1em;
}

.book-link:any-link {
  color: var(--text-color);
  text-decoration: none;
}

form > div {
  margin: 1ex;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5ex;
}

input,
select,
button,
textarea {
  background: var(--color1);
  font-family: var(--font, sans-serif);
  font-size: var(--form-font-size);
  border-radius: 0.5em;
}

input,
select,
textarea {
  border: 0px;
}

label,
button {
  font-weight: var(--bold);
}

label {
  font-size: var(--form-label-font-size);
}

button {
    color: var(--pale-color);
    background-color: var(--marron);

    border-width: 0.5em;
    border-color: rgba(0,0,0,0); /* transparent */
    border-radius: 50em;

    padding: 0 1.5em;
}

button::before {
  content: ">";
  margin-right: 0.5em;
}

#envoyer {
  align-self: flex-end;
}